
<!-- Footer -->
<footer class="page-footer font-small pt-4 mt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-5 text-center mb-5">
  
          <!-- Content -->
          <img src="../assets/img/footer_logo.png" style="height: 25vh;">
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-5 mb-5">
  
          <!-- Links -->
  
          <ul class="list-unstyled mt-5 ml-5">
            <li>
                <a style="color: rgb(141,33,101);" href="#">Privacy Policy</a>
            </li>
            <li>
                <a style="color: rgb(141,33,101);" href="#">Contribution Guidelines</a>
            </li>
            <li>
                <a style="color: rgb(141,33,101);" href="#">Terms and Conditions</a>
            </li>
        </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="text-center">
        <img src="../assets/img/footer_stripes.png" style="width:100%">
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->