<footer class="page-footer fixed-bottom mdb-color white text-center text-md-left pt-4 mt-4">

    <!--Footer Links-->
    <div class="container">
        <div class="row">
            <div class="col-md-3 offset-md-1">
                <img src="../assets/img/footer_logo.png" style="height: 25vh;">
            </div>

            <div class="col-md-5 offset-md-3 black-text" style="float: right;">
              
                <ul class="list-unstyled" style="margin-top: 12vh;">
                    <li>
                        <a style="color: rgb(141,33,101);" href="#">Privacy Policy</a>
                    </li>
                    <li>
                        <a style="color: rgb(141,33,101);" href="#">Contribution Guidelines</a>
                    </li>
                    <li>
                        <a style="color: rgb(141,33,101);" href="#">Terms and Conditions</a>
                    </li>
                </ul>
            </div>


        </div>
        <div class="row">
            <img src="../assets/img/footer_stripes.png" style="height: 25vh;">
        </div>
  
    </div>
</footer>