<footer class="page-footer mdb-color white text-center text-md-left pt-4 mt-4">

  <!--Footer Links-->
  <div class="container">
      <div class="row">
          <div class="col-md-3 offset-md-1">
              <img src="/assets/img/footer_logo.png" style="height: 20vh; margin: 3vh;">
          </div>

          <div class="col-md-3 offset-md-5 black-text">
            
              <ul class="list-unstyled ">
                  <li>
                      <a style="color: rgb(141,33,101);" routerLink ="/contact">Private Policy</a>
                  </li>
                  <li>
                      <a style="color: rgb(141,33,101);" routerLink ="/contact">Contribution Guidelines</a>
                  </li>
                  <li>
                      <a style="color: rgb(141,33,101);" routerLink ="/contact">Terms and Conditions</a>
                  </li>
              </ul>
              
          </div>


      </div>

  </div>
  <div class="text-center foot">
      <img src="/assets/img/footer_stripes.png" style="width:100%; height: 90%">
  </div>
  <br>
  

  <div class="col-md-4 offset-md-8 mb-3">
      <a style="margin-right: 20px;" target="_blank" href = " https://twitter.com/systers_org">
          <i class="fa fa-twitter fa-3x" aria-hidden="true" style="color: black"></i>
      </a>
      <a style="margin-right: 20px;" target="_blank" href = " https://github.com/systers">
          <i class="fa fa-github fa-3x" aria-hidden="true" style="color: black"></i>
      </a>
      <a style="margin-right: 20px;" target="_blank" href = " https://www.facebook.com/AnitaB.0rg/">
          <i class="fa fa-facebook fa-3x" aria-hidden="true" style="color: black"></i>
      </a>
      <a style="margin-right: 20px;" target="_blank" href = " https://medium.com/@systers_org">
          <i class="fa fa-medium fa-3x" aria-hidden="true" style="color: black"></i>
      </a>
  </div>
</footer>
