.footertext
{
    color: rgb(141,33,101);
}
.img_footer
{
    width:30%;
}
@media only screen and (min-width: 768px) {
    .footerlist{
        margin-top: 8vh;
    }
}

#list-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}