language: node_js
node_js:
  - "node"
addons:
  chrome: stable
before_install:
  - google-chrome-stable --headless --disable-gpu --remote-debugging-port=9222 http://localhost &
before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3 # give xvfb some time to start
install:
  - npm install
script:
  - npm run build
deploy:
  provider: heroku
  on:
    branch: gsoc18-code
  skip_cleanup: true
  api_key:
    secure: FVXkdc4KQhrRVQ3YoPeQ6evN+MNR8JJxKk+wTyB0uC1T3f0KHZNm9hd+O47fUmQJJduyrj6/tRdfXc6LpmVJfuury7NNNMI5sqKePHK0mged/xQtviMyIq/JZ7YLGXmqGEIgLYUUFpiKckOaVwxh+8GfscZfWlXIbvQeIgws+AY=


