<div class="container-fluid mt-5">
    <div class="container box logos mx-auto d-block">
        <div class="row text-center">
            <p>Systers is an international Anita B.org community encouraging the participation of all women involved in technology.
                <br>
                <br> We are committed to providing a friendly, safe, and welcoming environment for all, regardless of gender,
                sexual orientation, ability, ethnicity, socioeconomic status, work experience, or religion (or lack thereof).
                <br>
                <br> We believe in inclusivity, diversity, and transparency. We value open source citizenship and collaborative
                involvement.
            </p>
        </div>
        <div class="container mt-5 mx-auto">
            <div class="row">
                <div class="col-7">
                    <img class="img-fluid float-right h-100" src="assets/img/map.png" style="width: 100%">
                </div>
                <div class="col-5 mt-5 mystats">
                        <h2 class="mt-5"><b>20 LOCAL COMMUNITIES</b></h2>
                        <h2 class="mt-5"><b>9282 CONNECTED PEOPLE</b></h2>
                </div>

            </div>
        </div>
    </div>
</div>