<div class="container-fluid mt-5">
    <div class=" container box logos mx-auto d-block">
        <div class="row text-center">
            <p>Systers is an international Anita B.org community encouraging the participation of all women involved in technology.<br><br>
                We are committed to providing a friendly, safe, and welcoming environment for all, regardless of gender,
                sexual orientation, ability, ethnicity, socioeconomic status, work experience, or religion (or lack thereof).<br><br>
                We believe in inclusivity, diversity, and transparency. We value open source citizenship and collaborative
                involvement.
            </p>
        </div>
        <div>
            <img class="img-fluid" src="assets/img/map.png">
        </div>
    </div>
</div>