<mdb-navbar SideClass="navbar navbar-expand-xl navbar-light white scrolling-navbar">
        <logo>
            <a target = "_parent" class="navbar-brand" href="/home">
                <img src="/assets/img/logo.png">
                <span class="sr-only">(current)</span>
            </a>
        </logo>
        <links>
            <!-- Links -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link waves-light navl" mdbWavesEffect routerLink="/newcomers">Newcomers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light navl" mdbWavesEffect routerLink="/contributors">Contributors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light navl" mdbWavesEffect routerLink="/programs">Programs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light navl" mdbWavesEffect routerLink="/projects">Projects</a>
                </li>
                <!-- Dropdown -->
                <li class="nav-item dropdown" dropdown>
                    <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light navl" mdbWavesEffect>
                        More info
                        <span class="caret"></span>
                    </a>
                    <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                        <a class="dropdown-item nav-link waves-light navl" mdbWavesEffect routerLink="/contact">Contact Us</a>
                        <a class="dropdown-item nav-link waves-light navl" mdbWavesEffect routerLink="/FAQ">FAQ</a>
                    </div>
                </li>
            </ul>
        </links>
        <!-- Collapsible content -->
    </mdb-navbar>
    
    <script>
        // Add active class to the current button (highlight it)
        var nav = document.getElementsByClassName("nav-item");
        for (var j = 0; j < nav.length; j++) {
            var btns = nav[j].getElementsByClassName("navl");
            for (var i = 0; i < btns.length; i++) {
                btns[i].addEventListener("click", function () {
                    var current = document.getElementsByClassName("active");
                    current[0].className = current[0].className.replace(" active", " ");
                    this.className += " active";
                });
            }
        }
    </script>