.internships {
    width: 96%;
    table-layout: fixed;
    margin: 2rem auto;
    border-spacing: .25rem;
  }
  
  .internships th, .internships td {
    padding: .5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 85%;
  }
  
  .internships th {
    background-color: rgb(238, 151, 40);
    color: white;
    text-transform: uppercase;
  }
  
  .internships tr:nth-child(odd) {
    background-color:  rgba(238, 151, 40, .1);
  }
  
  .internships tr:nth-child(even) {
    background-color:  rgba(238, 151, 40, .25);
  }
  
  table {
    width: 90%;
    table-layout: fixed;
    margin: 2rem;
    border-spacing: .25rem;
  }
  
  td {
    height: 4rem;
    overflow: auto;
    padding: .5rem;
  }  