<div class="container-fluid mt-5">
  <p class="mb-5 mx-auto">Systers participates in several Open Source Programs, including
    <a href="https://summerofcode.withgoogle.com/" target="_blank">Google Summer of Code</a>,
    <a href="https://www.outreachy.org/" target="_blank">Outreachy</a>, and various codeathons to encourage new people to contribute to our projects and become part of our community.</p>
  <ngb-tabset [justify]="currentJustify">
    <ngb-tab title="Google Summer of Code">
      <ng-template ngbTabContent>
        <div class="row text-center">
          <h2 class="mt-5 mx-auto">Google Summer of Code 2009</h2>
          <table class="internships space">
            <tr>
              <th>Project</th>
              <th>Students</th>
              <th>Project Manager & Mentor</th>
              <th>Mentors</th>
            </tr>
            <tr>
              <td>Mailman Authentication</td>
              <td>Malveeka</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Updated Development Plans</td>
              <td>Anna</td>
              <td></td>
              <td></td>
            </tr>
          </table>
        </div>
        <div class="row text-center">
          <h2 class="mt-5 mx-auto">Google Summer of Code 2010</h2>
          <table class="internships">
            <tr>
              <th>Project</th>
              <th>Students</th>
              <th>Project Manager & Mentor</th>
              <th>Mentors</th>
            </tr>
            <tr>
              <td>Mailman Authentication</td>
              <td>Jaideep</td>
              <td>Malveeka</td>
              <td>Radhika</td>
            </tr>
            <tr>
              <td>Mailman Archives UI</td>
              <td>Yian</td>
              <td>Robin</td>
              <td>Terri (USA)</td>
            </tr>
            <tr>
              <td>Mailman Archives Search</td>
              <td>Priya</td>
              <td>Robin</td>
              <td></td>
            </tr>
            <tr>
              <td>Patches, Release, & Testing Automation</td>
              <td>Vid</td>
              <td>Jason</td>
              <td>Kathy</td>
            </tr>
            <tr>
              <td>Mailman 3.0 UI</td>
              <td>Anna</td>
              <td>Florian (Germany)</td>
              <td></td>
            </tr>
            <tr>
              <td>Wishlist Items and Bug Fixes</td>
              <td>Erica</td>
              <td>Anne</td>
              <td>Simone</td>
            </tr>
          </table>
        </div>
        <div class="row text-center">
          <h2 class="mt-5 mx-auto">Google Summer of Code 2012</h2>
          <table class="internships">
            <tr>
              <th>Project</th>
              <th>Students</th>
              <th>Project Manager & Mentor</th>
              <th>Mentors</th>
            </tr>
            <tr>
              <td>Admin Essay</td>
              <td>Ana (Spain)</td>
              <td>Robin</td>
              <td>Priya </td>
            </tr>
            <tr>
              <td>Admin UI, Essays, Email</td>
              <td>Sneha (India)</td>
              <td colspan="2"></td>
            </tr>
          </table>
        </div>
        <div class="row text-center">
          <h2 class="mt-5 mx-auto">Google Summer of Code 2013</h2>
          <table class="internships">
            <tr>
              <th>Project</th>
              <th>Students</th>
              <th>Project Manager & Mentor</th>
              <th>Mentors</th>
            </tr>
            <tr>
              <td>Admin Essay</td>
              <td>Julia (USA)</td>
              <td>Rose (USA)</td>
              <td>Promita (USA)</td>
            </tr>
            <tr>
              <td>Admin dList Script</td>
              <td>Ioana</td>
              <td>Ana (Spain)</td>
              <td>Promita (USA)</td>
            </tr>
            <tr>
              <td>Selenium Testing</td>
              <td>Olga</td>
              <td>Mayank (India)</td>
              <td>Promita (USA)</td>
            </tr>
            <tr>
              <td>RSS Feed</td>
              <td>Joanna</td>
              <td>Nicki (USA)</td>
              <td>Richard Wackerbarth
                <br> Barry (USA)</td>
            </tr>
            <tr>
              <td>UI Member Area</td>
              <td>Shanu (India)</td>
              <td>Danielle (USA)</td>
              <td>Aurelien (France)
                <br> Stephen (Japan)</td>
            </tr>
            <tr>
              <td>UI MM3 Design</td>
              <td>Sneha (India)</td>
              <td>Lynn (USA)</td>
              <td>Florian (Germany)
                <br> Terri (USA)</td>
            </tr>
          </table>
        </div>
        <div class="row text-center">
          <h2 class="mt-5 mx-auto">Google Summer of Code 2014</h2>
          <table class="internships">
            <tr>
              <th colspan="4">Peace Corps Projects</th>
            </tr>
            <tr>
              <th>Project</th>
              <th>Students</th>
              <th>Project Manager & Mentor</th>
              <th>Mentors</th>
            </tr>
            <tr>
              <td>PeaceTrack (Android)</td>
              <td>Pooja (India)</td>
              <td>Nicki (USA)</td>
              <td>Chiu-Ki (USA)
                <br> Neeraj (USA)</td>
            </tr>
            <tr>
              <td>PeaceTrack (iOS)</td>
              <td>Shelagh</td>
              <td>Nicki (USA)</td>
              <td>Tiffani (USA)
                <br> Shanu (India)</td>
            </tr>
            <tr>
              <td>Malaria (Android)</td>
              <td>Aneke (Nigeria)</td>
              <td>Ihudiya (USA)</td>
              <td>Kristin (USA)
                <br> Chinmayi (India)</td>
            </tr>
            <tr>
              <td>Malaria (iOS)</td>
              <td>Shruti (India)</td>
              <td>Ihudiya (USA)</td>
              <td>Matt (USA)
                <br> Shanu (India)</td>
            </tr>
            <tr>
              <td>Ushahidi</td>
              <td>Julia (USA)
                <br> Jennifer (Austria)</td>
              <td>Rose (USA)</td>
              <td>Angela (Kenya)
                <br> Linda (Kenya)</td>
            </tr>
            <tr>
              <td>Mobile App Control Center</td>
              <td>Vaibhavi (India)</td>
              <td colspan="2">Rose (USA)</td>
            </tr>
            <tr>
              <td>Language Translation</td>
              <td>Saumya (India)</td>
              <td>Ana (Spain)</td>
              <td>Pamela (USA)
                <br> Sylvain (France)
                <br> Eve (USA)
                <br> Ala' (USA)</td>
            </tr>
          </table>
        </div>
        <div class="row text-center">
          <h2 class="mt-5 mx-auto">Google Summer of Code 2015</h2>
          <table class="internships">
            <tr>
              <th>Project</th>
              <th>Student</th>
              <th>Project Manager & Mentor</th>
              <th>Mentors</th>
            </tr>
            <ng-container *ngFor="let kk of Repdata">
              <tr *ngIf="kk.YEAR==='2015' && kk.PROGRAM==='Google Summer of Code'">
                <td>{{kk.PROJECT}}</td>
                <td>{{kk.STUDENT}}</td>
                <td>{{kk.PROJECTMANAGERANDMENTOR}}</td>
                <td>{{kk.MENTORS}}</td>
              </tr>
            </ng-container>
          </table>
        </div>
        <div class="row text-center">
          <h2 class="mt-5 mx-auto">Google Summer of Code 2016</h2>
          <table class="internships">
            <tr>
              <th>Project</th>
              <th>Student</th>
              <th>Project Manager & Mentor</th>
              <th>Mentors</th>
            </tr>
            <ng-container *ngFor="let kk of Repdata">
              <tr *ngIf="kk.YEAR==='2016' && kk.PROGRAM==='Google Summer of Code'">
                <td>{{kk.PROJECT}}</td>
                <td>{{kk.STUDENT}}</td>
                <td>{{kk.PROJECTMANAGERANDMENTOR}}</td>
                <td>{{kk.MENTORS}}</td>
              </tr>
            </ng-container>
          </table>
        </div>
        <div class="row text-center">
          <h2 class="mt-5 mx-auto">Google Summer of Code 2017</h2>
          <table class="internships">
            <tr>
              <th>Project</th>
              <th>Student</th>
              <th>Project Manager & Mentor</th>
              <th>Mentors</th>
            </tr>
            <ng-container *ngFor="let kk of Repdata">
              <tr *ngIf="kk.YEAR==='2017' && kk.PROGRAM==='Google Summer of Code'">
                <td>{{kk.PROJECT}}</td>
                <td>{{kk.STUDENT}}</td>
                <td>{{kk.PROJECTMANAGERANDMENTOR}}</td>
                <td>{{kk.MENTORS}}</td>
              </tr>
            </ng-container>
          </table>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Outreachy">
      <ng-template ngbTabContent>
          <div class="row text-center">
              <h2 class="mt-5 mx-auto">Outreachy 2017</h2>
              <table class="internships">
                <tr>
                  <th>Project</th>
                  <th>Student</th>
                  <th>Project Manager & Mentor</th>
                  <th>Mentors</th>
                </tr>
                <ng-container *ngFor="let kk of Repdata">
                  <tr *ngIf="kk.YEAR==='2017' && kk.PROGRAM==='Outreachy'">
                    <td>{{kk.PROJECT}}</td>
                    <td>{{kk.STUDENT}}</td>
                    <td>{{kk.PROJECTMANAGERANDMENTOR}}</td>
                    <td>{{kk.MENTORS}}</td>
                  </tr>
                </ng-container>
              </table>
            </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Codeathons">
      <ng-template ngbTabContent>
        <div class="row text-center">
          <h2 class="mt-5 mb-5 mx-auto">
            <a href="https://codein.withgoogle.com/archive/">Google Code-In</a>
          </h2>
          <p class="ml-5 mr-5 text-center">Google Code-in is a contest to introduce pre-university students (ages 13-17) to open source software development.
            Since 2010, 8,108 students from 107 countries have completed over 40,100 open source tasks! Because Google Code-in
            is often the first experience many students have with open source, the contest is designed to make it easy for
            students to jump right in.</p>
        </div>
        <div class="row text-center">
          <h2 class="mt-5 mb-5 mx-auto">
            <a href="https://challengerocket.com/anitasmoonshot">Anita's Moonshot</a>
          </h2>
          <p class="ml-5 mr-5 text-center">We welcome all who identify as a woman to participate in this event. The main goal of this online codeathon is
            to bring women from interdisciplinary backgrounds to produce a creative solution to a socio-cultural or socio-economic
            problem. Simply, we want a diverse team to solve a problem in their community.</p>
        </div>
        <div class="row text-center">
          <h2 class="mt-5 mx-auto">
            <a href="https://empowhermentqualcomm.devpost.com/">
              EmpowHERment Summit
            </a>
          </h2>
        </div>
        <div class="row text-center">
          <p class="mb-5 ml-5 mr-5 mx-auto">
            It is an opportunity to “hack for good” by solving the real-world problems of our participating non-profits working in the
            STEM field.
          </p>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>