@media only screen and (max-width: 1024px) {
    .card-img-top {
        display: none;
    }
}

.fa-github {
    color: black;
}

.colour1 {
    background-color: #8d2165;
}
.card-footer{
    background-color: white;
}