img {
    border-radius: 50%;
    height: 90px;
    width: 90px;
}
p{
	font-size: 14px;
}
.card{
	margin: 5px;
}
h2{
	color:#54BCEB;
	margin: 20px;
}
h1{
	color:#54BCEB;
	margin: 20px;
}
input,h5{
	margin-left : 20px;
}