
<div class="row">
<div class="filter">
	
	<input [(ngModel)] = "query" placeholder="Enter name of project / Contributor" >
</div>
</div>
<div class="row">
<div class="filter">
	<div>
	    <select [(ngModel)]="selected" (ngModelChange)="onSelect(selected)" >
	    	<option value="">--- No Filter ---</option>
	        <option *ngFor="let option of options" 
	                [value]="option"> 
	          {{ option }}
	        </option>
	   </select>
	</div>
</div>
</div>
<h2> Admins </h2>
<div class="container box logos mx-auto d-block">
	<div class="row" style="margin: auto;">
		<div class="card card-block d-flex" *ngFor=" let det of admins | search:'name,projects':query ; index as i" >
		<div class="col-md-3">
			<img src="{{det.avatar}}">
			<div class="row">
		  		
		  		<a (click)="basicModal.show()" ><span class="card-title ">{{ det.name | first}}</span></a>

				<div mdbModal #basicModal="mdb-modal" class="modal " tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
				    <div class="modal-dialog" role="document">
				        <div class="modal-content">
				            <div class="modal-header">
				                <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
				                    <span aria-hidden="true">×</span>
				                </button>
				                <h4 class="modal-title w-100 " id="myModalLabel">{{det.name}}</h4>
				            </div>
				            <div class="modal-body">
				                {{det.projects}}

				            </div>
				            <div class="modal-body">
				                Slack :- {{det.slack}}

				            </div>
				            <div class="modal-footer box logos mx-auto d-block">
				                <a  target="_blank" href = "{{det.url}}"><i class="fa fa-github fa-4x " aria-hidden="true"></i></a>
				            </div>
				        </div>
				    </div>
				</div>
		  	</div>		
		</div>
		</div>	
			
	</div>
</div>



<h2> Maintainers </h2>

<div class="container box logos mx-auto d-block">
	<div class="row" style="margin: auto;">
		<div class="card" *ngFor=" let det of selectedData | search:'name,projects':query;" >
		<div class="col-md-3">
			<img src="{{det.avatar}}">
			<div class="row">
		  		
		  		<a (click)="basicModal.show()" ><span class="card-title">{{ det.name | first}}</span></a>

				<div mdbModal #basicModal="mdb-modal" class="modal " tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
				    <div class="modal-dialog" role="document">
				        <div class="modal-content">
				            <div class="modal-header">
				                <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
				                    <span aria-hidden="true">×</span>
				                </button>
				                <h4 class="modal-title w-100" id="myModalLabel">{{det.name}}</h4>
				            </div>
				            <div class="modal-body">
				                {{det.projects}}

				            </div>
				            <div class="modal-body">
				                Slack :- {{det.slack}}

				            </div>
				            <div class="modal-footer box logos mx-auto d-block">
				                <a  target="_blank" href = "{{det.url}}"><i class="fa fa-github fa-4x " aria-hidden="true"></i></a>
				            </div>
				        </div>
				    </div>
				</div>
		  	</div>	
		</div>
		</div>
	
		
	</div>
	
</div>

<h2> Committers </h2>
<div class="container box logos mx-auto d-block">
	<div class="row" style="margin: auto;">
		<div class="card" *ngFor=" let det of selectedContri | search:'name,projects':query ;" >
		<div class="col-md-3">
			<img src="{{det.avatar}}">
			<div class="row">
		  		
		  		<a (click)="basicModal.show()" ><span class="card-title">{{ det.name | first}}</span></a>

				<div mdbModal #basicModal="mdb-modal" class="modal " tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
				    <div class="modal-dialog" role="document">
				        <div class="modal-content">
				            <div class="modal-header">
				                <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
				                    <span aria-hidden="true">×</span>
				                </button>
				                <h4 class="modal-title w-100" id="myModalLabel">{{det.name}}</h4>
				            </div>
				            <div class="modal-body">
				                {{det.projects}}

				            </div>
				            <div class="modal-body">
				                Slack :- {{det.slack}}

				            </div>
				            <div class="modal-footer box logos mx-auto d-block">
				                <a  target="_blank" href = "{{det.url}}"><i class="fa fa-github fa-4x " aria-hidden="true"></i></a>
				            </div>
				        </div>
				    </div>
				</div>
		  	</div>	
		</div>
		</div>
	
	</div>
	
</div>

<h2> Improvers </h2>
<div class="container box logos mx-auto d-block">
	<div class="row" style="margin: auto;">
		<div class="card" *ngFor=" let det of imp | search:'name,projects':query ;" >
		<div class="col-md-3">
			<img src="{{det.avatar}}">
			<div class="row">
		  		
		  		<a (click)="basicModal.show()" ><span class="card-title">{{ det.name | first}}</span></a>

				<div mdbModal #basicModal="mdb-modal" class="modal " tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
				    <div class="modal-dialog" role="document">
				        <div class="modal-content">
				            <div class="modal-header">
				                <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
				                    <span aria-hidden="true">×</span>
				                </button>
				                <h4 class="modal-title w-100" id="myModalLabel">{{det.name}}</h4>
				            </div>
				            <div class="modal-body">
				                Slack :- {{det.slack}}

				            </div>
				           
				            <div class="modal-footer box logos mx-auto d-block">
				                <a  target="_blank" href = "{{det.url}}"><i class="fa fa-github fa-4x " aria-hidden="true"></i></a>
				            </div>
				        </div>
				    </div>
				</div>
		  	</div>		
		</div>
		</div>
		
	</div>
</div>

