<div class="figure">
	<img src="../assets/img/contact.png" class="img-fluid" style=" display:block; width:80%; margin:auto; margin-top: 5px; margin-bottom: 60px;">
</div>
<br>
<div class=" container box logos mx-auto d-block">
	<div class="row">
		<div class="col-md-4">
			<a href="https://systers-opensource.slack.com/">
				<button type="button" class="btn btn-rounded btn-lg btn-block waves-light brand-c" mdbWavesEffect style="background-color: #54BCEB; width:50%; margin: auto;">Slack</button>
			</a>
		</div>
		<div class="col-md-4">
			<a href="https://github.com/systers/communities/">
				<button type="button" class="btn btn-rounded waves-light brand-c btn-lg btn-block" mdbWavesEffect style="background-color: #54BCEB;width:50%;margin: auto;">Github</button>
			</a>
		</div>
		<div class="col-md-4">
			<a href="http://systers.org/mailman/listinfo/systers-opensource">
				<button type="button" class="btn btn-rounded waves-light brand-c btn-lg btn-block" mdbWavesEffect style="background-color: #54BCEB;width:50%; margin: auto;">Mailing List</button>
			</a>
		</div>
	</div>
</div>

<br>
<br>
<br>
<div class="col-md-10 container" style="margin-bottom:50px;">
	<div class="card pt-3 pb-3 pl-3 pr-3" style="margin-top:10px; padding-top:10px;">
		<h2 class="card-title mx-auto">COMMUNITY OPEN SESSION (Open for all)</h2>
		<br>
		<p class="card-text mx-auto">We meet every Thursday at 17:00 GMT on Zoom. You'll find updates in the #announcements channel on Slack.</p>
		<p class="card-text mx-auto">Join from PC, Mac, Linux, iOS or Android
			<a href="https://zoom.us/j/768783305">here</a>.</p>
		<p class="card-text mx-auto">Dial-in Audio-only Conference, Meeting ID: 768 783 305</p>
		<li class="mx-auto mt-4" style="list-style-type: none;">
			<ul>
				<i class="fa fa-phone fa-2x" aria-hidden="true"></i> United States :
				<a href="tel:+16699006833">+1 669 900 6833</a>
			</ul>
			<ul>
					<i class="fa fa-phone fa-2x" aria-hidden="true"></i> United States :
					<a href="tel:+16465588656">+1 646 558 8656</a>
			</ul>
			<ul>
				<i class="fa fa-phone fa-2x" aria-hidden="true"></i> Canada :
				<a href="tel:+16475580588">+1 647 558 0588</a>
			</ul>
			<ul>
				<i class="fa fa-phone fa-2x" aria-hidden="true"></i> Brazil :
				<a href="tel:+551146806788">+55 11 4680 6788</a>
			</ul>
			<ul>
				<i class="fa fa-phone fa-2x" aria-hidden="true"></i> Brazil :
				<a href="tel:+552139587888">+55 21 3958 7888</a>
			</ul>
			<ul>
				<i class="fa fa-phone fa-2x" aria-hidden="true"></i> UK/ London :
				<a href="tel:+44(0)2036950088">+44 (0) 20 3695 0088</a>
			</ul>
		</li>
	</div>
</div>

