.colour1{
    background-color: #8d2165;
}
.fa-long-arrow-down
{
    font-size:48px;
}

.modal {
  text-align: center;
}

.colour1 {
  background-color: #8d2165;
}

.colour2 {
  background-color: #9e186d;
}

.colour3 {
  background-color: #a32173;
}

.colour4 {
  background-color: white;
  color: black;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .card-img-top {
      display: none;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.card-footer{
  background-color: white; 
}

.iframe-style{
  border:none;
  height: 600px;
  width: 100%;
}
.modal-body1 {
  min-width: 50vh;
  overflow-y: auto;
}
