.colour1 {
  background-color: #8d2165;
}

.fa-long-arrow-down {
  font-size: 48px;
}

.modal {
  text-align: center;
}

.colour1 {
  background-color: #8d2165;
}

.colour2 {
  background-color: #9e186d;
}

.colour3 {
  background-color: #a32173;
}

.colour4 {
  background-color: white;
  color: black;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .card-img-top {
    display: none;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.card-footer {
  background-color: white;
}

.iframe-style {
  border: none;
  height: 600px;
  width: 95%;
}

.modal-body1 {
  min-width: 50vh;
  overflow-y: auto;
}
.reponame{
  
 
  padding: 2%;
  color:black;
}
.findRepo{
  display: grid;
  align-items: center;
  justify-content: center;
  
}
.findRepo:hover{
  text-decoration: underline;
}


.issueTitle{
  min-width : 100%;
  font-size: 1.2em;
  color:#54BCEB ;
  font-weight: bold;

}
.issueTitle:hover{
  text-decoration: underline;
  color:rgb(62, 130, 161);
}
.issueFrame{
  margin-left: 3%;
  min-width: 94%;
  overflow-y: scroll;
  min-height: 35em;
  max-height: 35em;
  border: #d3d6d8 solid 1px;

}
.myrow{
  padding:1.5%;
  background-color: #f9f9f9;
  box-shadow: 2px 2px 5px #c5c6cc;
}
.underline:hover{
  text-decoration:underline;
}
