<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.28//angular-route.min.js"></script>

<!--NavBar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
    <logo>
        <a class="navbar-brand" href="#"><img src ="/assets/img/logo.png"></a>
    </logo>
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link waves-light" href="#" mdbWavesEffect routerLink="">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" href="#" mdbWavesEffect routerLink="about">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" href="#" mdbWavesEffect routerLink="projects">Projects</a>
            </li>
        </ul>
        <!--Contact Us Social Media Icons-->
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item waves-light" mdbRippleRadius>
              <a class="nav-link"><i class="fa fa-facebook fa-2x"></i></a>
          </li>
          <li class="nav-item waves-light" mdbRippleRadius>
              <a class="nav-link"><i class="fa fa-twitter fa-2x"></i></a>
          </li>
          <li class="nav-item waves-light" mdbRippleRadius>
              <a class="nav-link"><i class="fa fa-instagram fa-2x"></i></a>
          </li>
      </ul>
       <!--End of Contact Us Social Media Icons-->
    </links>
</mdb-navbar>
<!--End of NavBar-->
<br>
<router-outlet></router-outlet>