<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.28//angular-route.min.js"></script>

<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
    <logo>
        <a class="navbar-brand" href="#"><img src ="/assets/img/logo.png"></a>
    </logo>
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link waves-light" href="#" mdbWavesEffect>Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" href="#" mdbWavesEffect>About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" href="#" mdbWavesEffect>Projects</a>
            </li>
        </ul>
        <span class="navbar-text white-text">
            <i class="fa fa-facebook-square fa-2x" aria-hidden="true" style = "padding-right: 1em;"></i>

            <i class="fa fa-medium fa-2x" aria-hidden="true" style = "padding-right: 1em;"></i>

            <i class="fa fa-youtube fa-2x" aria-hidden="true"></i>
        </span>
    </links>
</mdb-navbar>

<!-- <h1> Sample Routing </h1>

<div class="container">
    <ul>
        <li><a href="#/Home">Home</a></li>
        <li><a href="#/AboutUs">About Us</a></li>
    </ul>
    <div ng-view></div>
</div> -->

<script>
    var systersApp = angular.module('systersApp',['ngRoute']);
    systersApp.config(function($routeProvider){
        $routeProvider
        .when('/',{
            templateUrl : 'app.component.html'
        })
        .when('/Home',{
            templateUrl : 'Home.html'
        })
        .when("/AboutUs", {
            templateUrl: 'AboutUs.html'
        })
        .otherwise({
            redirectTo: '/'
        });
    }]);
</script>