body {
        background: white;
        font-family: 'Montserrat', sans-serif;
        color: rgb(87, 87, 87);
}
.navLogo {
    float: left;
    width: 100%;
}    

nav {
    display: inline-block;
}

nav li {
    float: right;
    padding: 1.25em;
    list-style: none;
    font-size: 1.15em;
}

h1, h2, h3 {
    font-family: 'Cairo', sans-serif;
    margin-bottom: 0; 
}

.header{
    border-bottom: 3px solid rgb(141,33,101);
}

h1 {
    color: rgb(141,33,101);
}

.subheader{
    border-bottom: 1px solid rgb(0,98,140);
}

h2, h3 {
    color: rgb(0,98,140);
}

h1, h2, h3 {
    margin-left: 1em;
}

p {
    margin-left: 2em;
    margin-right: 2em;
}

a, a:link {
    text-decoration: none;
    color: rgb(98,181,229);
}

a:hover {
    color: rgb(141,33,101);
}

table {
    width: 95%;
    table-layout: fixed;
    margin: 2em;
    border-spacing: .25em;
}

td {
    overflow: auto;
    padding: .5em;
}

.years a {
    margin: 4em;
}

.footer {
    font-size: .75em;
}

.newcomers {
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.horizontal {
    float: center;
    padding: .5em;
    list-style: none;
    font-size: 1.15em;
}

.zoom li {
    list-style: none;
    padding: .25em;
}