body {
    background: white;
    font-family: 'Montserrat', sans-serif;
    color: rgb(87, 87, 87);
}

h1, h2, h3 {
    font-family: 'Cairo', sans-serif;
}

.header{
    border-bottom: 2px solid rgb(141,33,101);
}

h1 {
    color: rgb(141,33,101);
}

.subheader{
    border-bottom: 2px solid rgb(0,98,140);
}

h2, h3 {
    color: rgb(0,98,140);
}

a, a:link {
    text-decoration: none;
    color: rgb(98,181,229);
}

a:hover {
    color: rgb(141,33,101);
}

table {
    width: 95%;
    table-layout: fixed;
    margin: 2em;
    border-spacing: .25em;
}

td {
    overflow: auto;
    padding: .5em;
}

.years a {
    margin: 2em;
}