body {
  background-color: white;
}

h1 {
  font-family: 'Cairo', sans-serif;
  font-size: 3em;
  font-weight: normal;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0,98,140);
}

table {
  width: 95%;
  table-layout: fixed;
  margin: 2em;
  border-spacing: .25em;
  /*border-collapse: collapse;*/
}

th, td {
  /*border: 1px solid #111111;*/
  background-color:  rgba(238, 151, 40, .15);
  padding: .5em;
  font-family: 'Montserrat', sans-serif;
}

th {
  background-color: rgba(238, 151, 40, .5);
}

p {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: rgb(87, 87, 87);
  font-size: 1.75em;
}

a, a:link {
  text-decoration: none;
  color: rgb(98,181,229);
}

a:hover {
  color: rgb(141,33,101);
}