<div class="container-fluid mt-5">
  <div class=" container box logos mx-auto d-block">
    <div class="row text-center">
      <h1 class="mx-auto mb-5"> Welcome to Systers Open Source!</h1>
      <p>
        Systers is an international Anita B.org community encouraging the participation of all women involved in technology.
      </p>
      <p>
        We are committed to providing a friendly, safe, and welcoming environment for all, regardless of gender, sexual orientation,
        ability, ethnicity, socioeconomic status, work experience, or religion (or lack thereof).
      </p>
      <p class="mb-5">
        We believe in inclusivity, diversity, and transparency. We value open source citizenship and collaborative involvement.
      </p>
    </div>
    <div class="row text-center">
      <img class="container-fluid mb-5" src="/assets/img/full_map.png">
    </div>
    <div class="row text-center">
       <p class="text-center">
          At Systers, we welcome contributions of all forms. Non-coders are welcomed to join the community! 
        </p>
    </div>
    <div>
        <p class="text-center">  
          Apart from code you can contribute in any of the following ways:
       </p>
    </div>
          <div class="container box logos mx-auto d-block">
            <div class="row text-center justify-content-center">
              <div class="card col-sm-3 mt-3 mb-3 ml-3 mr-3 pt-2" *ngFor="let det of peace_details ;">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{det.name}}</h5>
                  <p class="card-text">{{det.summary}}</p>
                  <button type="button" class="btn btn-primary waves-light mx-auto" (click)="style.show()" mdbWavesEffect>View Details</button>
                  <!-- Modal -->
                  <div mdbModal #style="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-notify modal-success" role="document">
                      <div class="modal-content">
                        <div class="modal-header" style="background-color: #8d2165;">
                          <p class="heading lead" style="background-color: #8d2165 ">{{det.name}}</p>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="style.hide()">
                            <span aria-hidden="true" class="white-text">×</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="text-center">
                            <p>Technologies Used: {{det.technologiesUsed}}</p>
                            <p>
                              <a href="{{det.link}}" target="_blank">Link to the Github repo</a>
                            </p>
                            <p>
                              <a href="{{det.documentation}}" target="_blank">Link to the documentation</a>
                            </p>
                            <p>Handle to tag the Maintainers of the repo on Github : {{det.contact_maintainers}}</p>
                            <p>Slack Channel: {{det.slack}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Modal -->
                </div>
              </div>
            </div>
          </div>
  </div>
</div>